body {
    margin: 10px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(58, 12, 163);
    color: rgb(76, 201, 240);
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    color: rgb(67, 97, 238);
}

.tab-bar {
    background-color: rgb(114, 9, 183);
    color: rgb(247, 37, 133);
    border-radius: 20px;
    width: 80%;
    display: flex;
    align-items: center;
    height: 40px;
    margin: 0 auto; /* centers the tab bar horizontally */
}

.tabs {
    list-style-type: none;
    color: rgb(247, 37, 133);
    display: flex;
    justify-content: space-around; /* or space-between */
    align-items: center;
    width: 100%;
}

.tab {
    flex: 10;
    color: rgb(247, 37, 133);
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

div {
    padding-top: 10px;
    padding-right: 30%;
    padding-bottom: 50px;
    padding-left: 30%;
}

.blog-box {
    border: 8px solid rgb(114, 9, 183);
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background-color: rgb(58, 12, 163);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-box h2 {
    margin-top: 0;
    color: rgb(247, 37, 133);
}
.blog-box h4 {
    color: rgb(247, 37, 133);
}
.blog-box p {
    line-height: 1.6;
    color: rgb(76, 201, 240);
}

audio {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    visibility: visible;
}

img {
    border: 8px solid rgb(114, 9, 183);
    border-radius: 15px;
    padding: 0px;
    margin: 20px auto;
    background-color: rgb(58, 12, 163);
    max-width: 35%;
    max-height: 30%;
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}