body {
    margin: 10px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(33, 21, 56);
    color: rgb(159, 180, 219);
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    color: rgb(159, 180, 219);
}

.tab-bar {
    background-color: #142d72;
    color: rgb(159, 180, 219);
    padding-left: 20%;
    border-radius: 20px;
    width: 80%;
    height: 40px;
}

.tabs {
    list-style-type: none;
    color: rgb(159, 180, 219);
    margin: 0;
    padding: 0;
    display: flex;
}

.tab {
    flex: 10;
    color: rgb(159, 180, 219);
    text-align: left;
    font-size: xx-large;
    font-weight: bold;
}

div {
    padding-top: 10px;
    padding-right: 30%;
    padding-bottom: 50px;
    padding-left: 30%;
}

.blog-box {
    border: 8px solid #5a0c8f;
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background-color: #161a3f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-box h2 {
    margin-top: 0;
    color: #5e08e9;
}
.blog-box h4 {
    color: #1472ff;
}
.blog-box p {
    line-height: 1.6;
    color: #c9dce7;
}

audio {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    visibility: visible;
}

img {
    border: 8px solid #5a0c8f;
    border-radius: 15px;
    padding: 0px;
    margin: 20px auto;
    background-color: #161a3f;
    max-width: 35%;
    max-height: 30%;
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}