body {
  background-color: black;
  color: #00ff00;
  font-family: 'Courier New', monospace;
  padding: 20px;
}

#terminal {
    max-width: 800px;
    margin: auto;
}

.input-line {
    display: flex;
}

.prompt {
    margin-right: 5px;
}

input {
    background: black;
    color: #00ff00;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 1em;
    width: 100%;
}